body {
    background-color: #58641d;
}
h1 {
    font-style: italic;
    color:black;
    font-size: 50px;
    margin-bottom: 0; /* reduce space below */
}
p {
    font-size: 25px;
    color: black;
    margin-bottom: 0; /* reduce space below */
}
img {
    display:block;
    margin: 0 auto; /* centers the image */
    width: 500px;
}
button  {
    background-color: #58641d;
    border: ;
    font-size: 30px;
}
